<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% endblock %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />


      <title>base</title>
  <link rel="stylesheet" href="static/css/cover.css">
  </head>
  <body>
<!--     navbar code via bootstrap -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <a href="../..">
            <img alt="Brand" src="http://www.stationcouriers.co.uk/addons/themes/station/img/home_small_icon.gif">
          </a></a>
        </div>
      </div>
    </nav>
  </div>
       <div class="container">
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <ul class="flashes">
            <li>{{message}}</li>
         </ul>
         {% endfor %}
          {% endif %}
          {% endwith %}
       </div>
       <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
       <script type="text/javascript" src="../static/js/secretSpaces.js">
       </script>
       
  </body>
</html>
    {% block body %}{% endblock %}
