{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Hello.</title>
</head>
<body style="background: url(http://static1.squarespace.com/static/51b9353ae4b0ac040c25b77c/51e2d299e4b0fad0b3fc43b9/542443e6e4b00064da9a169e/1411663028656/_DR_1625.jpg?format=1000w) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;width:100%;height:100%;margin:0" >
    <h1>Hello. This is the <a href="/new">index</a> page for SecretSpaces.</h1>
      <div class="overlay">
          <nav>
<ul>
<li><a href="./new">profiles</a></li>
<li><a href="./about">about</a></li>
<li><a href="./create">create</a></li>
</ul>
</nav>
      </div>
</body>
</div>
</body>
</html>
{% endblock %}