{% extends 'base.html' %}
{% block body %}

    {% block title %}
    {% endblock %}
<!-- 	<body style="background: url(../static/img/labyrinth_large.jpg) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;width:100%;height:100%;margin:0" > -->

		<section class="hero" id="hero">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-12 text-right navicon">
		          <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
		        </div>
		      </div>

			<div class="row">
			    <div class="col-md-8 col-md-offset-2 text-center inner">
			      <h1 class="animated fadeInDown"><span><a href="/list">Curiocity</a></span></h1>
			      <p class="animated fadeInUp delay-05s">Discover hidden spaces in San Francisco.</p>
			    </div>
			  </div>
			</div>
		<input class="btn btn-default col-md-0 col-md-offset-6 btn-sm" type="submit" id="get-location" value="Get Location">
		</section>


	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<!-- <script>
	// 	var x = document.getElementById("demo");

	// 	function getLocation() {
	// 	    if (navigator.geolocation) {
	// 	        navigator.geolocation.getCurrentPosition(showPosition);
	// 	    } else { 
	// 	        x.innerHTML = "Geolocation is not supported by this browser.";
	// 	    }
	// 	}

	// 	function showPosition(position) {
	// 	    x.innerHTML = "Latitude: " + position.coords.latitude + 
	// 	    "<br>Longitude: " + position.coords.longitude;
	// 	    var longitude = position.coords.longitude;
	// 	    var latitude = position.coords.latitude;

	// 	    // make a new function that adds this pin to a map
	// 	    // call it here or use the object literal pattern
	// 	    // and pass in the long and lat to the add pin function.
	// 	    $('.container').append("<input id='bomb' type='hidden' name='bomb' value=" + longitude + "," + latitude + "/>");

	// 	    $.get("/pushcoords?lat=" + position.coords.latitude + "&long=" + position.coords.longitude, function(data){
	// 	    	// came back from server
	// 	    	console.log("I came back from the server!");
	// 	    	console.log(data);
	// 	    	debugger;
	// 	    });	
	// 	}
<! SOME FILLER TEXT TO SORT OUT DIV ELEMENTS -->


<footer>
  <div class="container" id='footer'>
    <div class="row">
      <div class="col-md-6">
        <ul class="legals">
          <li><a href="http://www.github.com/ednacao">GitHub</a></li>
          <li><a href="http://www.linkedin.com/in/ednacao">LinkedIn</a></li>
          <li><a href="mailto: cao.edna@gmail.com">Email</a></li>
        </ul>
      </div>
      <div class="col-md-6 credit">
        <p>Edna Cao</p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}