{% extends 'base.html' %}
{% block title %}list{% endblock %}
{% block head %}
	    
	        <link rel="stylesheet" href="static/css/style.css">
	{% endblock %}

{% block body %}
	
	
		<div>
			<a href="/index">
				<img alt="Brand" src="http://www.stationcouriers.co.uk/addons/themes/station/img/home_small_icon.gif"></a>
		</div>

	    {% for location in locations %}
	    <a href="/profile/{{location.id}}"> 
	    {{ location.name }}</a><br>
	    {{ images.url }}
	    <img src="{{ images.url }}"></img>
	    <br>
	    {% endfor %}


	
	       <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
       <script type="text/javascript" src="../static/js/secretSpaces.js"></script>
       <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/jquery.flexslider.js"></script>
        <script src="/static/js/modernizr.js"></script>
       </script>

{% endblock %}