{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html>
	<head>
	    <title>list</title>
	        <link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
		<div>
			<a href="/index">
				<img alt="Brand" src="http://www.stationcouriers.co.uk/addons/themes/station/img/home_small_icon.gif"></a>
		</div>

	    {% for location in locations %}
	    <a href="/profile/{{location.id}}">
	    {{ location.id }}: 
	    {{ location.name }}</a><br>
	    {{ images.url }}
	    <img src="{{ images.url }}"></img>
	    <br>
	    {% endfor %}
	</body>
</html>
{% endblock %}