{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/cover.css">
</head>
<body>
	<div><center>
		<table style="width:100%">
		<tr>
			<td>Name:</td><td> {{ location.name }}</td><br>
		<tr>
			<td>Address:</td><td> {{ location.address }}</td><br>
		<tr>
			<td>Description:</td><td> {{ location.description }}</td><br>
		<tr>
			<td>Hours:</td><td> {{ location.hours }}</td><br>
		<tr>
			<td>Seating Info:</td><td> {{ location.seating_info }}</td><br>
		<tr>
			<td>Food Info:</td><td> {{ location.food_info }}</td><br>
		<tr>
			<td>Restrooms?</td><td> {{ location.restrooms }}</td><br>
		<tr>
			<td>Food?</td><td> {{ location.food_yn }}</td><br>
		<tr>
		</td><td><td>Seating?</td><td> {{ location.seating_yn}}</td><br>
	</div></center>
	<div>
		<img src="{{ image.url }}" ></img>
	</div>
</body>
</html>
{% endblock %}
