{% extends 'base.html' %}
{% block head %}
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/cover.css">
{% endblock %}
{% block body %}

	<div id='map-two' class='map pad2'>Map</div>
	<div>
		<table style="width:100%">
		<tr>
			<td>Name:</td><td> {{ location.name }}</td><br>
		<tr>
			<td>Address:</td><td> {{ location.address }}</td><br>
		<tr>
			<td>Description:</td><td> {{ location.description }}</td><br>
		<tr>
			<td>Hours:</td><td> {{ location.hours }}</td><br>
		<tr>
			<td>Seating Info:</td><td> {{ location.seating_info }}</td><br>
		<tr>
			<td>Food Info:</td><td> {{ location.food_info }}</td><br>
		<tr>
			<td>Restrooms?</td><td> {{ location.restrooms }}</td><br>
		<tr>
			<td>Food?</td><td> {{ location.food_yn }}</td><br>
		<tr>
			<td>Seating?</td><td> {{ location.seating_yn}}</td><br>
		<br>
		<tr>
			<td>Current Location is</td><td>Latitude: {{ lat }}, Longitude: {{ long }}</td>
		</tr>
	</table>
	</div>
	<div>
		<img src="{{ image.url }}" ></img>
	</div>
	<!-- placeholder map for lay	out reference -->

	<script>
	var latitude = Number("{{ lat }}");
	var longitude = Number("{{ long }}");
	var profile_latitude = "{{ location.profile_latitude }}"
	var profile_longitude = "{{ location.profile_longitude }}"

	// THIS IS THE PUBLIC ACCESS TOKEN!!!		// THIS IS THE PUBLIC ACCESS TOKEN!!!
	L.mapbox.accessToken = "pk.eyJ1IjoiZWNhbyIsImEiOiJHVEFEM1NnIn0.6hb7Mp5jlFNiu22rsZkDUg";
	var map = L.mapbox.map('map-two', 'ecao.lce9cd80')
	//center on lat, long with zoom level 13
	.setView([latitude, longitude], 13);

	var featureLayer = L.mapbox.featureLayer()
    .addTo(map);

    // alert("HEY MEGGIE, UR NOT CRAY");

	featureLayer.setGeoJSON([
		
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
	    {
	    	type: 'Feature',
	    	geometry: {
		        type: 'Point',
		        // coordinates here are in longitude, latitude order because
		        // x, y is the standard for GeoJSON and many formats
		        coordinates: [
		          longitude,
		          latitude 
		        ]
	    	},
		    properties: {
		        title: 'Current Location',
		        description: [longitude, latitude],
		        // one can customize markers by adding simplestyle properties
		        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
		        'marker-size': 'medium',
		        'marker-color': '#82CCB3',
		        'marker-symbol': 'triangle'
			}
		},
		{
			type: 'Feature',
		    geometry: {
		        type: 'Point',
		        // coordinates here are in longitude, latitude order because
		        // x, y is the standard for GeoJSON and many formats
		        coordinates: [
		          profile_longitude,
		          profile_latitude 
		        ]
		    },
		    properties: {
		        title: '{{location.name}}',
		        description: [profile_longitude, profile_latitude],
		        // one can customize markers by adding simplestyle properties
		        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
		        'marker-size': 'medium',
		        'marker-color': '#E60000',
		        'marker-symbol': 'star'
		    }
		}
	]).addTo(map);

	</script>
	<script src="http://api.tiles.mapbox.com/v4/directions/mapbox.walking/-122.4366,-38.4;-122.645,37.4.json?access_token=pk.eyJ1IjoiZWNhbyIsImEiOiJHVEFEM1NnIn0.6hb7Mp5jlFNiu22rsZkDUg"></script>

	<script src="/static/directions.js"></script>
{% endblock %}


