{% extends 'base.html' %}


{% block body %}

    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/cover.css">



	<div id='profile_image'>
		<center><img src="{{ image.url }}" ></img></center>
	</div>


	<div id='profile_info'>
		<ul>
			<li>Name: {{ location.name }}</li>
			
			<li>Address: {{ location.address }}</li>
			
			<li>Description: {{ location.description }}</li>
			
			<li>Hours: {{ location.hours }}</li>
			
			<li>Restrooms? {{ location.restrooms }}</li>
			
			<li>Food? {{ location.food_yn }}</li>
			
			<li>Seating? {{ location.seating_yn}}</li>
		<br>
			<li>Current Location is:<br>
				Latitude: {{ lat }}, Longitude: {{ long }}</li>
		</tr>
	</table>
	<br>
	<a href="/list">Back</a>
	</div>


	<div id='map-two' class='map pad2'>Map</div>
		<ul class='text_directions'>
			Directions
		</ul>

	<!-- placeholder map for lay	out reference -->
	<script>
	var latitude = Number("{{ lat }}");
	var longitude = Number("{{ long }}");
	var profile_latitude = Number("{{ location.profile_latitude }}");
	var profile_longitude = Number("{{ location.profile_longitude }}");

	// THIS IS THE PUBLIC ACCESS TOKEN
	L.mapbox.accessToken = "pk.eyJ1IjoiZWNhbyIsImEiOiJHVEFEM1NnIn0.6hb7Mp5jlFNiu22rsZkDUg";
	var map = L.mapbox.map('map-two', 'ecao.lce9cd80')
	//center on lat, long with zoom level 15
	.setView([latitude, longitude], 15);

	// Disable zoom handlers.
	map.touchZoom.disable();
	map.scrollWheelZoom.disable();

	var featureLayer = L.mapbox.featureLayer()
    .addTo(map);

	featureLayer.setGeoJSON([
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
	    {
	    	type: 'Feature',
	    	geometry: {
		        type: 'Point',
		        // coordinates here are in longitude, latitude order because
		        // x, y is the standard for GeoJSON and many formats
		        coordinates: [
		          longitude,
		          latitude 
		        ]
	    	},
		    properties: {
		        title: 'Current Location',
		        description: [longitude, latitude],
		        // one can customize markers by adding simplestyle properties
		        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
		        'marker-size': 'medium',
		        'marker-color': '#82CCB3',
		        'marker-symbol': 'triangle'
			}
		},
		{
			type: 'Feature',
		    geometry: {
		        type: 'Point',
		        // coordinates here are in longitude, latitude order because
		        // x, y is the standard for GeoJSON and many formats
		        coordinates: [
		          profile_longitude,
		          profile_latitude 
		        ]
		    },
		    properties: {
		        title: '{{location.name}}',
		        description: [profile_longitude, profile_latitude],
		        // one can customize markers by adding simplestyle properties
		        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
		        'marker-size': 'medium',
		        'marker-color': '#E60000',
		        'marker-symbol': 'park'
		    }
		}
	]).addTo(map);

    // map.on('click', function(e) {
    //     // Let's add a callback to makeMarker so that it can draw the route only
    //     // *after* it's done processing the marker adding.
    //     makeMarker(e, drawRoute);
    // });

	function getDirections(){
		// alert("I'm inside getDirections()!");
		$.getJSON("http://api.tiles.mapbox.com/v4/directions/mapbox.driving/" + longitude + "," + latitude + ";" + profile_longitude + "," + profile_latitude + ".json?access_token=pk.eyJ1IjoiZWNhbyIsImEiOiJHVEFEM1NnIn0.6hb7Mp5jlFNiu22rsZkDUg", function(data){
			drawRoute(data);
			
			console.log("http://api.tiles.mapbox.com/v4/directions/mapbox.walking/" + longitude + "," + latitude + ";" + profile_longitude + "," + profile_latitude + ".json?access_token=pk.eyJ1IjoiZWNhbyIsImEiOiJHVEFEM1NnIn0.6hb7Mp5jlFNiu22rsZkDUg")
		});
	}
	getDirections();


	function drawRoute(data){
		// alert("DATA IN PARSEDATA() WUT");
		console.log(data);
		debugger;
		var route = data.routes[0].geometry.coordinates;
		route = route.map(function(point){
			return [point[1], point[0]];
		});
		polyline.setLatLngs(route);


		//ITERATE
		var directionList = [];

		console.log(directionList);

		
		for (var i=0; i < data.routes[0].steps.length; i++) {
			var element = "<ul><li>" + data.routes[0].steps[i].maneuver.instruction + "</li></ul>"
			directionList.push(element);
		}

		//ERROR- 'cannot use 'in' operator to search for '25' in Head west on Sutter Street'
		// $.each(data.routes[0].steps, function(index){
		// 	directionList.push(data.routes[0].steps[index]);
		// 	console.log(directionList);

		// });


		$( "ul.text_directions" ).html(function(data) {
			debugger;
  			$( "ul.text_directions").append(directionList);
  				//return directionList;
  				// return "<p>'this will eventually be directions'</p>";
});
	}

    var line_points = [
    [latitude, longitude],
    [profile_latitude, profile_longitude],
	];

	// Define polyline options
	// http://leafletjs.com/reference.html#polyline
	var polyline_options = {
	    color: '#F00'
	};	

	// Defining a polygon here instead of a polyline will connect the
	// endpoints and fill the path.
	// http://leafletjs.com/reference.html#polygon
	var polyline = L.polyline(line_points, polyline_options).addTo(map);

	// FIX ME !!!!!
	// var directionList = data.routes[0].steps[0].maneuver.instruction;
	// 	return directionList;



	</script>


{% endblock %}


